html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 4em;
  background-color: rgb(90, 144, 205);

}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.65em;
  list-style-type: none;
}
.links {
  font-size: 120%;
  list-style-type: none;
  padding-right: 2em;
  color: white;
}
#contact_link {
  list-style-type: none;
  font-size: 130%;
  color: white;
  padding-right: 2.5em;
}

nav a {
  text-decoration: none;
}
.name {
  font-size: 225%;
  color: white;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  height: 75vh;
  flex: wrap;
  background-color: rgb(235, 213, 221);


}

.mytext {

  font-family: "Raleway", sans-serif;
  font-size: 100%;
  flex-basis: 700px;
  width: 100px;
  padding-top: 6em;
  flex: wrap;
  padding: 2em;
 
}
.myimage {
  margin-top: 5em;
  flex-basis: 500px;
  width: 75px;
  height: 75px;
  padding-bottom: 1em;
  padding:2em
}
img {
  border-radius: 6px;
  box-shadow: 2px 1px 12px 0px rgba(0, 0, 0, 0.79);
  max-width: 100%;
  max-height: auto;
}
.projects {
  background-color: rgb(90, 144, 205);
  height: 75vh;

}

.flex_wrapper_projects {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
  height:75vh;
  
}



#simpsons_image {
  height: 300px;

  max-width: 100%;
  max-height: auto;
  
}


.project_title {
  text-align:center;
  font-family: "Raleway", sans-serif;
  font-size:300%;
padding-top:1em;
  margin-bottom:1em;


}

#left_coming_soon {
  height:200px;
  
  max-width: 100%;
  max-height: auto;
}
#right_coming_soon {
  height: 150px;
  margin-top:1em;
  max-width: 100%;
  max-height: auto;
}


/*Responsive functionality*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #simpsons_image,
  #coming_soon,
  #right_coming_soon {
    margin-top: 0;
  }
}
