* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 4em;
  background-color: rgb(90, 144, 205);
  font-family: "Raleway", sans-serif;
}

.menu {
  display: flex;
  flex-wrap:wrap;
  gap: 0.65em;
  list-style-type: none;
  
}

.links {
  font-size: 120%;
  list-style-type: none;
padding-right:2em;
  color: white;
  
}
#contact_link {
  list-style-type: none;
  font-size: 130%;
  color: white;
  padding-right:2.5em;
 
}
.name {
  font-size: 225%;
  color: white;
  
  
}

nav a {
  text-decoration: none;
}

img {
  float:right;
  margin-right:12em;
  box-shadow: 2px 1px 12px 0px rgba(0,0,0,0.79);
  border-radius: 4px;
  margin-left:100px;
  margin-top: 50px;
  max-width: 100%;
  height: auto;
  
}
#profile_text{
  text-align:center;
  display:flex;
 padding-top: 5em;
 padding-bottom:5em;
 margin-left:15%;
 font-family:"Raleway", sans-serif;
 font-size:140%
}


.profile {
  background-color:rgb(228, 188, 203);
  height:100%;
  width: 100%;
}

 .projects{
  background-color:rgb(90, 144, 205);
  height:40em;


  
}

.contact{
  background-color:rgb(228, 201, 211);
  
}