html,
body{
  height:100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 4em;
  background-color: rgb(90, 144, 205);
  font-family: "Raleway", sans-serif;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.65em;
  list-style-type: none;
}
.links {
  font-size: 120%;
  list-style-type: none;
  padding-right: 2em;
  color: white;
}
#contact_link {
  list-style-type: none;
  font-size: 130%;
  color: white;
  padding-right: 2.5em;
}

nav a {
  text-decoration: none;
}
.name {
  font-size: 225%;
  color: white;
}


.flex-wrapper {
display:flex;
flex-direction:row;
gap:20px;
flex-wrap: wrap;
justify-content: center;
height:100%


}

.profile_section{
  height:75vh;
flex:wrap;
  background-color: rgb(235, 213, 221);
  padding: 1em

}

.mytext  {

  font-family: "Raleway", sans-serif;
  font-size: 170%; 
  flex-basis: 700px;
  width: 100px;
  height: 100px;
  margin-top: 8em;
  flex:wrap;
  padding:1em;


 
  
}
.myimage{

margin-top:5em;
 flex-basis: 500px;
 
 width: 75px;
 height: 75px;
 padding:1em;

}
img{
  border-radius: 4px;
  box-shadow: 2px 1px 12px 0px rgba(0, 0, 0, 0.79);
}
.projects {
  height:75vh;
}
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
